<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 bg-peru text-white p-4 shadow rounded-4">
            <h1 class="text-center">{{nombre}}</h1>
            <hr class="border border-white border-2 opacity-50">
            <dl>
                <dd>Nombre: {{nombre}}</dd>
            
                <dd>Edad: {{edad}}</dd>
            
                <dd>funcion: {{obtenerNombre()}}</dd>
            
                <dd>Mayusculas: {{ mayusculas }}</dd>
            
            </dl>
            
            <button (click)="cambiarASpiderMan()" 
                    class="btn btn-primary text-white shadow"
            >
                Cambiar a SpiderMan
            </button>

            <button (click)="cambiarAIronMan()" 
                    class="btn btn-primary text-white shadow"
            >
                Cambiar a IronMan
            </button>
            <br>
            <button (click)="aumentarEdad()" 
                    class="btn btn-danger text-white shadow mt-3"
            >
                Aumentar edad
            </button>

            <button (click)="disminuirEdad()" 
                    class="btn btn-danger text-white shadow mt-3"
            >
                Disminuir edad
            </button>

        </div>
        <div class="col-3"></div>
    </div>
</div>
