<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-white p-4 shadow rounded-4 bg-peru">
            <ul class="list-group">
                <li class="list-group-item bg-peru text-white">An item</li>
                <li class="list-group-item bg-peru text-white">A second item</li>
                <li class="list-group-item bg-peru text-white">A third item</li>
                <li class="list-group-item bg-peru text-white">A fourth item</li>
                <li class="list-group-item bg-peru text-white">And a fifth one</li>
              </ul>
        </div>
        <div class="col-3"></div>
    </div>
</div>

